html
  head
    title Home Page
    link(rel="stylesheet" href="https://unpkg.com/element-ui/lib/theme-default/index.css")
  body
    div#container
      div#inputs
        span Report ID
        input#reportid(type="text")
        //- TODO: 修改输入类型为下拉框
        span Disease
        select#disease
          option STH
          option dengue
          option foodborne trematodiases
          option malaria hfmd
          option TB
          option Hepatitis B
          option diarrhea
          option iron deficient anemia
          option other
        span Country
        select#country
          option China
          option Myanmar
          option Cambodia
          option Indonesia
          option Laos
          option Malaysia
          option Philippines
          option Thailand
          option Vietnam
          option India
          option Bangladesh
          option Bhutan
          option Nepal
          option Pakistan
        span Year
        input#year(type="text")
        span Double Check
        select#doublechech
          option No
          option Yes
      div#opeations
        input#search_btn(type="button" value="Search")
        input#export_btn(type="button" value="Export")
        input#batch_input_btn(type="button" value="Batch Input")
        input#edit_btn(type="button" value="Edit")
        input#new_btn(type="button" value="New")
      div#display

      div#app
        el-button(@click="visible = true") Button
        el-dialog(v-model="visible" title="Hello world")
          p Welcome to element

  script(src="https://unpkg.com/vue/dist/vue.js")
  script(src="https://unpkg.com/element-ui/lib/index.js")
  script(src="/javascripts/home.js")
