html
    head
        title Disease DB
    body
        script(src="http://code.jquery.com/jquery-2.0.2.min.js")
        script(src="/javascripts/login.js")
        h1
            welcome to our website
        form(action="/process" method="post")
            div
                span name:
                input#username(type="text" name="username" required)
            div
                span password:
                input#password(type="password" name="password" required)
            input#login(type="submit" value="login")
            input(type="reset" value="reset")
        div#err= err
